#Makefile
Makefile.in
Makefile

#windows related
*.cbp
*.depend
*.layout


#cmake
build

#vscode
.vscode

# Gettext
.deps/*
*.Po
*.po
*.o
po/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# users files
*.bmp
*.png
*.jpg
*.log
*.ojm
*.obj
*.mtl
*.zip


# Executables
*.exe
*.out
*.app
